body {
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    color: white;
    background: #000000 url("../img/trim.jpg") no-repeat center top;
/*    background-color: #070707;*/
}

h1 {
    font-size: 30px;
    line-height: 42px;
}

h2 {
    font-size: 30px;
    line-height: 42px;
}

.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-barb-logo {
    width: 111px;
    height: 24px;
    background-position: -10px -10px;
}

.sprite-enter-icon {
    width: 18px;
    height: 16px;
    background-position: -10px -54px;
}

.sprite-enter-icon-active {
    width: 18px;
    height: 16px;
    background-position: -48px -54px;
}

.sprite-facebook-icon {
    width: 12px;
    height: 22px;
    background-position: -86px -54px;
}

.sprite-facebook-icon-active {
    width: 12px;
    height: 22px;
    background-position: -10px -96px;
}

.sprite-instagram-icon {
    width: 21px;
    height: 21px;
    background-position: -42px -96px;
}

.sprite-instagram-icon-active {
    width: 21px;
    height: 21px;
    background-position: -83px -96px;
}

.sprite-vk-icon {
    width: 25px;
    height: 16px;
    background-position: -141px -10px;
}

.sprite-vk-icon-active {
    width: 25px;
    height: 16px;
    background-position: -141px -46px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    position: relative;
    margin-bottom: 60px;
    
    color: #ffffff;
  
    background-color: #000000;
}

.logo {
    position: absolute;
    top: 20px;
    left: 185px;
    display: block;
    width: 111px;
    height: 24px;
    font-size: 0;
    background-image: url(../img/spritesheet.png);
    background-position: -10px -10px;
}

.main-navigation {
    float: left;
    
    width: 780px;
    min-height: 70px;
}

.main-navigation a {
    padding-top: 25px;
    padding-bottom: 28px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation .active {
    border-bottom: 5px solid white;
    padding-bottom: 23px;
}

.main-navigation ul {
    padding: 0;
    margin: 0;
}

.main-navigation li {
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 24px;
    margin-right: -4px;
}

.main-navigation li:first-child {
    padding-left: 15px;
    padding-right: 15px;
}

.catalog .main-navigation li:first-child {
    margin-left: 150px;
}

.main-navigation li:nth-child(2) {
    padding-left: 25px;
    padding-right: 25px;
}

.main-navigation li:nth-child(3) {
    padding-left: 17px;
    padding-right: 17px;
}

.main-navigation li:nth-child(4) {
    padding-left: 24px;
    padding-right: 24px;
}

.main-navigation li:last-child {
    padding-left: 17px;
    padding-right: 17px;
}

.main-navigation li:hover {
    background-color: #242424;
}

.user-block {
    position: relative;
    float: right;
    width: 140px;
    min-height: 70px;
    font-size: 16px;
    line-height: 20px;
}

.user-block a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding-top: 22px;
    padding-bottom: 28px;
    padding-left: 80px;
}

.user-block a:hover,
.user-block a:active {
    background-color: #242424;
}

.user-block a::before {
    position: absolute;
    left: 47px;
    top: 25px;
    content: "";
    width: 20px;
    height: 15px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -10px -54px;
}

.user-block a:hover::before,
.user-block a:active::before {
    position: absolute;
    left: 47px;
    top: 25px;
    content: "";
    width: 20px;
    height: 15px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -48px -54px;
}

.enter-form {
    position: absolute;
    top: 120px;
    left: 410px;
    display: none;
    width: 300px;
    height: 345px;
    padding: 20px 80px;
    color: black;
    background-color: white;
    background-image: url(../img/texture.png);
    z-index: 2;
}

.enter-form-show {
  display: block;
  animation: form-animate 0.6s;
}

@keyframes form-animate {
    0%   {
        transform: translateY(-2000px);
    }
    70%  {
        transform: translateY(30px);
    }
    90%  {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.close {
  position: absolute;
  top: 5px;
  right: -34px;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 25px;
  height: 5px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.enter-form h2 {
    margin-bottom: 10px;
}

.enter-form p {
    margin-bottom: 10px;
}

.enter-form input[type="text"],
.enter-form input[type="password"] {
    padding: 8px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    width: 280px;
    text-transform: uppercase;
    border: 2px solid black;
    outline: none;
}

.enter-form input[type="text"]:focus,
.enter-form input[type="password"]:focus {
    border: 2px solid #663d15;
}

.enter-form input[type="checkbox"] {
    display: none;
    margin-right: 15px;
}

.enter-form input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 245px;
    width: 17px;
    height: 17px;
    border: 2px solid black;
}

.enter-form input[type="checkbox"]:checked + .checkbox-indicator::before,
.enter-form input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.enter-form input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.enter-form input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

label {
    margin-left: 30px;
    cursor: pointer;
}

label:hover {
    color: #663d15;
}
.enter-form a {
    margin-left: 72px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

.enter-form a:hover {
    color: #663d15;
}

.enter-form input[type="submit"] {
    width: 300px;
    padding: 10px 0;
    margin-top: 15px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.enter-form input[type="submit"]:hover,
.enter-form input[type="submit"]:active {
    background-color: #663d15;
}

.index-logo {
    width: 368px;
    min-height: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

.features-item {
    position: relative;
    float: left;
    width: 290px;
    min-height: 175px;
    margin-right: 30px;
    margin-bottom: 65px;
    text-align: center;
}

.features-item b {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
}

.features-item b::after {
    position: absolute;
    transform: rotate(45deg);
    top: 52px;
    left: 134px;
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
}

.features-item p {
    margin-top: 58px
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    margin-bottom: 35px;
    margin-left: -5px;
    padding: 20px 80px;
    padding-bottom: 50px;
    background-color: white;
    color: black;
    background-image: url(../img/texture.png);
}

.index-content:last-child {
    padding-bottom: 45px;
}

.index-content h2 {
    margin-bottom: 20px;
}

.index-content-left {
    float: left;
    width: 380px;
    min-height: 330px;
}

.index-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.index-content li {
    margin-bottom: 20px;
}

.index-content p {
    margin-bottom: 0px;
}

.index-content:last-child p {
    margin-bottom: 20px;
}

.index-content time {
    text-transform: lowercase;
}

.btn,
.gallery-btn-prev,
.gallery-btn-next {
    display: inline-block;
    width: 140px;
    margin-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: black;
}

.gallery-btn-prev,
.gallery-btn-next {
    
    text-transform: uppercase;
    border: none;
}

.btn:hover,
.btn:active,
.gallery-btn-prev:hover,
.gallery-btn-prev:active,
.gallery-btn-next:hover,
.gallery-btn-next:active {
    background-color: #663d15;
}

.index-content-right {
    float: right;
    width: 300px;
    min-height: 330px;
    margin-right: 4px;
    padding-left: 90px;
}

.gallery {
    width: 300px;
}

.gallery figure {
    width: 286px;
    margin: 0;
    margin-top: 9px;
    margin-bottom: 36px;
    margin-left: 4px;
    padding: 0;
}

.appointment-form input[type="text"],
.appointment-form input[type="tel"] {
    display: inline-block;
    width: 120px;
    margin-right: 17px;
    margin-bottom: 17px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    text-transform: uppercase;
    border: 2px solid black;
    outline: none
}

.appointment-form input[type="text"]:focus,
.appointment-form input[type="tel"]:focus {
    border: 2px solid #663d15;
}

.appointment-form input[type="text"]:nth-child(2n),
.appointment-form input[type="tel"] {
    display: inline-block;
    width: 120px;
    margin-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    text-transform: uppercase;
    border: 2px solid black;
}

.appointment-form button {
    width: 300px;
    text-transform: uppercase;
    border: none;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #232323;
    background-image: url(../img/texture-footer.png);
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
    margin-left: -5px;;
    min-height: 90px;
}

.footer-contacts a {
    color: white;
}

.footer-social {
    position: relative;
    float: left;
    margin-top: -15px;
    width: 180px;
    min-height: 90px;
    text-align: center;
}

.footer-social p {
    margin-bottom: 10px;
}

.social-btn {
    display: inline-block;
    width: 47px;
    height: 45px;
    margin-right: 0px;
    font-size: 0;
    text-decoration: none;
    background-color: black;
    color: white;
}

.social-btn:hover,
.social-btn:active {
    background-color: white;
}

.social-btn-vk::before {
    position: absolute;
    top: 68px;
    left: 28px;
    content: "";
    width: 25px;
    height: 16px;
    background-image: url(../img/spritesheet.png);
    background-position: -141px -10px;
}

.social-btn-fb::before {
    position: absolute;
    top: 65px;
    left: 85px;
    content: "";
    width: 12px;
    height: 22px;
    background-image: url(../img/spritesheet.png);
    background-position: -86px -54px;
}

.social-btn-inst::before {
    position: absolute;
    top: 65px;
    left: 130px;
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(../img/spritesheet.png);
    background-position: -42px -96px;
}

.social-btn-vk:hover::before,
.social-btn-vk:active::before {
    position: absolute;
    top: 68px;
    left: 28px;
    content: "";
    width: 25px;
    height: 16px;
    background-image: url(../img/spritesheet.png);
    background-position: -141px -46px;
}

.social-btn-fb:hover::before,
.social-btn-fb:active::before {
    position: absolute;
    top: 65px;
    left: 85px;
    content: "";
    width: 12px;
    height: 22px;
    background-image: url(../img/spritesheet.png);
    background-position: -10px -96px;
}

.social-btn-inst:hover::before,
.social-btn-inst:active::before {
    position: absolute;
    top: 65px;
    left: 130px;
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(../img/spritesheet.png);
    background-position: -83px -96px;
}

.footer-copyright {
    float: right;
    width: 150px;
    min-height: 90px;
    text-align: center;
}

.footer-copyright p,
.footer-copyright a {
    margin: 0 auto;
}

.footer-copyright p {
    margin-bottom: 13px;
}

.footer-copyright a:hover,
.footer-copyright a:active {
    color: black;
    background-color: white;
}

/*Catalog-item*/

.breadscrumbs li {
    display: inline-block;
}

.catalog-item .breadscrumbs {
    margin-bottom: 55px;
}

.gallery {
    float: left;
    width: 460px;
    margin: 0;
}

.gallery img {
    margin-right: 17px;
    box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}

.gallery img:first-child {
    margin-bottom: 15px;
    margin-right: 0;
}

.gallery img:last-child {
    margin-right: 0;
}

.information {
    float: right;
    width: 390px;
    padding-top: 17px;
}

.information-code {
    float: right;
    margin-right: 15px;
}

.information p {
    margin-top: 30px;
    margin-bottom: 35px;
}

.catalog-item .price {
    margin-left: 0;
    margin-bottom: 60px;
}

.information h2 {
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
}

.set {
    padding-left: 20px;
    list-style: none;
}

.set li {
    position: relative;
}

.set li:before {
    position: absolute;
    transform: rotate(45deg);
    left: -17px;
    top: 7px;
    content: "";
    width: 7px;
    height: 7px;
    background-color: black;
}

/*Catalog*/

.catalog {
    background: #ffffff url("../img/texture.png") repeat;
    color: black;
}

.catalog .container:nth-child(2) {
    padding-left: 0;
}

.catalog h1 {
    margin-top: -10px;
/*    margin-left: -5px;*/
    margin-bottom: 10px;
}

.breadscrumbs {
    margin-bottom: 25px;
}

.breadscrumbs ul {
    position: relative;
    padding: 0;
}

.breadscrumbs li {
    margin-right: 35px;
}

.breadscrumbs li:nth-child(2) {
    margin-right: 40px;
}

.breadscrumbs li:first-child::after {
    position: absolute;
    transform: rotate(45deg);
    left: 62px;
    top: 8px;
    content: "";
    width: 7px;
    height: 7px;
    background-color: black;
}

.breadscrumbs li:nth-child(2)::after {
    position: absolute;
    transform: rotate(45deg);
    left: 154px;
    top: 8px;
    content: "";
    width: 7px;
    height: 7px;
    background-color: black;
}

.breadscrumbs li:nth-child(3)::after {
    position: absolute;
    transform: rotate(45deg);
    left: 312px;
    top: 8px;
    content: "";
    width: 7px;
    height: 7px;
    background-color: black;
}

.breadscrumbs a {
    text-decoration: none;
    color: black;
}

.breadscrumbs .active {
    color: #aba9a7;
}

.filters {
    position: relative;
    float: left;
    width: 220px;
    margin-right: 20px;
}

.filters h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

.filters ul {
    padding-left: 28px;
    list-style: none;
}

.filters li {
    margin-bottom: 13px;
}

.filters-makers {
    margin-bottom: 50px;
}

.filters-form label {
    display: block;
    padding-top: 3px;
    margin-left: 15px;
    margin-bottom: 16px;
    line-height: 18px;
    text-align: left;
}

.filters-products label {
    padding-top: 0;
}

.filters-makers input[type="checkbox"] {
    display: none;
}

.filters-makers input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    left: 0px;
    width: 17px;
    height: 17px;
    border: 2px solid black;
}

.filters-makers input[type="checkbox"]:checked + .checkbox-indicator::before,
.filters-makers input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.filters-makers input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.filters-makers input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.filters-products input[type="radio"] {
    display: none;
}

.filters-products input[type="radio"] + .radio-indicator {
    position: absolute;
    left: 0px;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 20px;
}

.filters-products input[type="radio"]:checked + .radio-indicator::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 20px;
}

.show-btn {
    display: block;
    margin-top: 55px;
    padding: 10px 0;
    width: 112px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
}

.products {
    float: right;
    width: 700px;
    margin-top: 28px;
}

.show-btn:hover,
.show-btn:active,
.buy:active,
.buy:hover,
.product-navigation a:hover,
.product-navigation a:active
{
    background-color: #663d15;
}

.products-product {
    display: inline-block;
    width: 220px;
    height: 285px;
    vertical-align: top;
    margin-right: 16px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}

figcaption {
    padding-left: 15px;
    margin-bottom: 5px;
    width: 150px;
    min-height: 10px;
} 

figcaption a {
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
    text-decoration: none;
    color: black;
}

a span {
    text-transform: uppercase;
}

.price {
    margin: 0 auto;
    width: 185px;
    height: 45px;
}

.price-block {
    display: inline-block;
    padding: 10px 0;
    margin-right: -3px;
    width: 107px;
    text-align: center;
    background-color: #e5e5e5;
}

.price a {
    display: inline-block;
    padding: 13px 0;
    width: 78px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
} 

.products-product:nth-child(3n){
    margin-right: 0;
}

.products-product figure {
    margin: 0;
}

.product-navigation {
    margin-left: -1px;
    margin-top: 25px;
}

.product-navigation a {
    display: inline-block;
    width: 43px;
    padding: 10px 0;
    margin-right: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
}

.product-navigation .active {
    color: black;
    background-color: white;
}

.catalog .main-footer {
    margin-top: 50px;
    color: white;
}

